@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}
.text-primary {
  color: #fd6e0a;
}

.btn-primary {
  height: 55px;
  background-color: #fd6e0a;
  border-radius: 5px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  border: 0;
  padding: 10px 30px;
}
.btn-primary-white {
  height: 55px;
  background-color: #ffffff;
  border-radius: 5px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #fd6e0a;
  border: 2px solid #fd6e0a;
  padding: 10px 30px;
}

/* Header and Navication Bar Style Start */
header {
  background-color: #fff8f3;
  background-image: url("../images/header_bg.png"),
    url("../images/developer.png");
  background-repeat: no-repeat;
  background-position: right bottom, left center;
}
header .img {
  height: 676px;
  width: 584px;
}
nav {
  display: flex;
  justify-content: space-between;
  margin: 20px 200px;
  justify-items: center;
  align-items: center;
}
nav h2 {
  font-size: 30px;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  margin-left: 20px;
  list-style: none;
}
nav ul li a {
  text-decoration: none;
}
nav ul li:nth-child(2) {
  margin-right: 20px;
}

.nav-title {
  color: #fd6e0a;
}
/* Header and Navication Bar Style End */

/* Banner Section Style Start */
.banner {
  margin: 20px 200px;
  display: flex;
  align-items: center;
}
.banner h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  color: #474747;
}
.banner h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 90px;
  color: #181818;
}
.banner p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #757575;
  margin-bottom: 25px;
}
.banner button {
  line-height: 32px;
}
.banner button span {
  letter-spacing: 10px;
  font-size: 16px;
}
/* Banner Section Style End */
/* ABOUT Section Style Start */

main {
  margin-top: 100px;
}
.about {
  width: 1140px;
  height: 550px;
  margin: 0 auto;
  text-align: center;
  background-color: #FFF8F3;
  padding: 131px 156px;
}
.about h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 48px;
  color: #181818;
  margin-bottom: 30px;
 
}
.about .para {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #757575;
  margin-bottom: 30px;
}
.about .about-address {
  display: flex;
  justify-content: center;
  
  
}
.about .div-item {
  margin: 20px;
}
.text-bold{
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #000;
}
/* ABOUT Section Style End */
