@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}
.text-primary {
    color: #fd6e0a;
  }
  .btn-primary {
    height: 55px;
    background-color: #fd6e0a;
    border-radius: 5px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    border: 0;
    padding: 15px 30px;
  }
/* Header and Navication Bar Style Start */
nav {
  display: flex;
  justify-content: space-between;
  margin: 40px 200px;
  justify-items: center;
  align-items: center;
}
nav h2{
    font-size: 30px;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  margin-left: 20px;
  list-style: none;
}
nav ul li a {
  text-decoration: none;
}
nav ul li:nth-child(2) {
  margin-right: 20px;
}

.nav-title {
  color: #fd6e0a;
}
/* Header and Navication Bar Style End */