@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}
.text-primary {
  color: #fd6e0a;
}

.btn-primary {
  height: 55px;
  background-color: #fd6e0a;
  border-radius: 5px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  border: 0;
  padding: 10px 30px;
}
.btn-primary-white {
  height: 55px;
  background-color: #ffffff;
  border-radius: 5px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #fd6e0a;
  border: 2px solid #fd6e0a;
  padding: 10px 30px;
}

/* Header and Navication Bar Style Start */
header {
  background-color: #fff8f3;
  background-image: url("../images/header_bg.png"),
    url("../images/developer.png");
  background-repeat: no-repeat;
  background-position: right bottom, left center;
}
header .img {
  height: 676px;
  width: 584px;
}
nav {
  display: flex;
  justify-content: space-between;
  margin: 20px 200px;
  justify-items: center;
  align-items: center;
}
nav h2 {
  font-size: 30px;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  margin-left: 20px;
  list-style: none;
}
nav ul li a {
  text-decoration: none;
}
nav ul li:nth-child(2) {
  margin-right: 20px;
}

.nav-title {
  color: #fd6e0a;
}
/* Header and Navication Bar Style End */

/* Banner Section Style Start */
.banner {
  margin: 20px 200px;
  display: flex;
  align-items: center;
}
.banner h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  color: #474747;
}
.banner h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 90px;
  color: #181818;
}
.banner p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #757575;
  margin-bottom: 25px;
}
.banner button {
  line-height: 32px;
}
.banner button span {
  letter-spacing: 10px;
  font-size: 16px;
}
/* Banner Section Style End */
/* ABOUT Section Style Start */

main {
  margin-top: 100px;
}
.about {
  width: 1140px;
  height: 550px;
  margin: 0 auto;
  text-align: center;
  background-color: #fff8f3;
  padding: 131px 156px;
}
.about h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 48px;
  color: #181818;
  margin-bottom: 30px;
}
.about .para {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #757575;
  margin-bottom: 30px;
}
.about .about-address {
  display: flex;
  justify-content: center;
}
.about .div-item {
  margin: 20px;
}
.text-bold {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #000;
}
/* About Section Style End */

/* Skill Section Style Start*/
.skill {
  width: 1140px;
  height: 550px;
  margin: 0 auto;
  text-align: center;
  padding: 131px 156px;
  margin-bottom: 100px;
}
.skill h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 48px;
  color: #181818;
  margin-bottom: 30px;
}
.skill .para {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #757575;
  margin-bottom: 30px;
}
.skill .skill-container {
  display: flex;
  justify-content: space-around;
}
.skill-item {
  padding: 20px 30px;
  text-align: left;
  background: #ffffff;
  box-shadow: 0 15px 70px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
}
.text-bold-2 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #181818;
}
.skill-item img {
  margin-bottom: 15px;
}
.skill-item p {
  margin-bottom: 15px;
}
/* Sill Section Style End */
/* Resume Section Style Start */
.resume {
  width: 1140px;
  height: 550px;
  margin: 80px auto;
  padding: 131px 156px;
  margin-bottom: 80px;
}
.resume h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 48px;
  margin-bottom: 100px;
  text-align: center;
  color: #181818;
}
.resume .edu-ex {
  display: flex;
  gap: 8px;
}
.title {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  color: #474747;
}
.edu-info .sub-title {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 34px;
  color: #474747;
}

.edu-ex .university {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #757575;
  margin-bottom: 20px;
}
.edu-ex .versity-para {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #757575;
}
hr {
  margin: 20px 0;
}
.cv-2 {
  text-align: center;
  margin-top: 425px;
  margin-bottom: 100px;
}
/* Rusume Section Style End */
/* Contact Section Style Start */
.contact {
  display: flex;
  justify-content: space-around;
  width: 1140px;
  height: 700px;
  margin: 0px auto;
  padding: 122px 138px;
  gap: 60px;
  background-color: #fff8f3;
}
.contact-title {
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 48px;
  text-align: left;
  margin-bottom: 20px;
}
.social-sub-title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #474747;
  margin-bottom: 30px;
}

.contact a {
  text-decoration: none;
  margin-left: 15px;
}

form input[type="text"],
input[type="email"] {
  width: 440px;
  height: 50px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 0;
  padding: 20px;
}
textarea {
  width: 440px;
  height: 180px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 0;
  padding: 20px;
}
/* Contact Section Style End*/
